# btrfs-os-snapshot.sh - 2021-07-31 - PSE [c0xc]
# man systemd.offline-updates

[Unit]
Description=Create OS snapshot before upgrade [BTRFS]
ConditionPathExists=/usr/local/sbin/btrfs-os-snapshot
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target
After=system-update-pre.target
Before=system-update.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/btrfs-os-snapshot create
TimeoutStartSec=0

[Install]
WantedBy=system-update.target

